name: CI-CD Blue Green Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: ap-south-1
  EKS_CLUSTER: simple-api-cluster

jobs:
  ci:
    name: CI - Test & Build Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run tests
        run: |
          pip install -r requirements.txt
          pip install pytest
          pytest

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build & Push BLUE image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/simple-api:blue .
          docker push ${{ secrets.DOCKER_USERNAME }}/simple-api:blue

      - name: Build & Push GREEN image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/simple-api:green .
          docker push ${{ secrets.DOCKER_USERNAME }}/simple-api:green


  cd:
    name: CD - Deploy to EKS
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name ${{ env.EKS_CLUSTER }} \
            --region ${{ env.AWS_REGION }}

      - name: Verify cluster access
        run: kubectl get nodes

      - name: Deploy BLUE version
        run: |
          kubectl apply -f k8s/deployment-blue.yaml --namespace default
          kubectl rollout status deployment/simple-api-blue

      - name: Deploy GREEN
        run: |
          kubectl apply -f k8s/deployment-green.yaml
          kubectl rollout status deployment/simple-api-green

      - name: Switch traffic to GREEN
        run: |
          kubectl patch service simple-api \
            -p '{"spec":{"selector":{"app":"simple-api","version":"green"}}}'
