name: CI-CD Blue Green Deployment

on:
  push:
    branches:
      - main

env:
  APP_NAME: simple-api
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/simple-api
  AWS_REGION: ap-south-1
  EKS_CLUSTER: ${{ secrets.EKS_CLUSTER_NAME }}

jobs:
  ci:
    name: CI - Test & Build Image
    runs-on: ubuntu-latest

    steps:
    # Checkout code
    - name: Checkout source
      uses: actions/checkout@v3

    # Setup Python
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # Install dependencies & run tests
    - name: Run tests
      run: |
        pip install -r requirements.txt
        pip install pytest
        pytest

    # Docker Login
    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # Build & Push BLUE image
    - name: Build & Push BLUE image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/simple-api:blue .
        docker push ${{ secrets.DOCKER_USERNAME }}/simple-api:blue

    # Build & Push GREEN image
    - name: Build & Push GREEN image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/simple-api:green .
        docker push ${{ secrets.DOCKER_USERNAME }}/simple-api:green

  cd:
    name: CD - Deploy to EKS
    needs: ci
    runs-on: ubuntu-latest

    steps:
    # Checkout repo
    - name: Checkout source
      uses: actions/checkout@v3

    # Configure AWS credentials
    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }} 

    # Update kubeconfig for EKS
    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
        --name ${{ secrets.EKS_CLUSTER_NAME }} \
        --region $AWS_REGION



    # Deploy BLUE (if not exists)
    - name: Deploy BLUE version
      run: |
        kubectl apply -f k8s/deployment-blue.yaml

    # Deploy GREEN (new version)
    - name: Deploy GREEN version
      run: |
        kubectl apply -f k8s/deployment-green.yaml

    # Wait for GREEN pods to be ready
    - name: Wait for GREEN rollout
      run: |
        kubectl rollout status deployment/simple-api-green

    # Switch Service traffic to GREEN
    - name: Switch traffic to GREEN
      run: |
        kubectl patch service simple-api \
        -p '{"spec":{"selector":{"app":"simple-api","version":"green"}}}'
